@use 'variaveis';
@use 'mixins';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  @include mixins.card-secao;
}

.header__titulo {
  font-size: 1.5rem;
  text-transform: variaveis.$text-transform;
  letter-spacing: 1px;
}

.nav__lista {
  display: flex;
  list-style: none;
  gap: variaveis.$gap;
}

.nav__item {
  text-decoration: none;
  color: variaveis.$cor-texto-padrao;
  font-weight: bold;
  text-transform: variaveis.$text-transform;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.nav__item:hover {
  color: rgb(250, 161, 250);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sobre {
  @include mixins.card-secao;
}

.depoimentos {
  @include mixins.card-secao;
}

.servicos {
  @include mixins.card-secao;
}

.contato {
  @include mixins.card-secao;
}

.sobre__titulo {
  margin-bottom: 15px;
  color: variaveis.$cor-texto-padrao;
  text-transform: variaveis.$text-transform;
  letter-spacing: 1px;
  font-size: variaveis.$tamanho-fonte;
}

.sobre__item {
  font-style: normal;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  color: variaveis.$cor-texto-padrao;
}

.servicos__lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: variaveis.$gap;
  margin-top: 15px;
}

.servicos__titulo {
  margin-bottom: 15px;
  color: variaveis.$cor-texto-padrao;
  text-transform: variaveis.$text-transform;
  letter-spacing: 1px;
  font-size: variaveis.$tamanho-fonte;
}

.servicos__item {
  background-color: white;
  border: variaveis.$borda-padrao black;
  padding: variaveis.$espacamento-padrao;
  text-align: center;
  font-weight: bold;
  text-transform: variaveis.$text-transform;
  letter-spacing: 1px;
}

.depoimentos__container{
  display: flex;
  flex-direction: column;
  gap: variaveis.$gap;
  margin-top: 15px;
}

.depoimento__texto {
  font-style: italic;
  color: variaveis.$cor-texto-padrao;
  margin-bottom: 13px;
  font-size: 1.05rem;
}

.depoimento__autor {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: variaveis.$text-transform;
  color: variaveis.$cor-texto-padrao;
  letter-spacing: 1px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  margin: 20px 0 0 0 ;
}

.formulario__titulo {
  font-size: variaveis.$tamanho-fonte;
  color: rgb(49, 49, 49);
  margin-bottom: 10px;
}

.contato__titulo {
  font-size: 2rem;
  color: rgb(49, 49, 49);
  margin-bottom: 14px;
}

form label {
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: variaveis.$text-transform;
}

form input {
  padding: 10px;
  border: 2px solid;
  background-color: white;
  font-family: inherit;
  color: variaveis.$cor-texto-padrao;
}

form input:focus {
  outline: none;
  box-shadow: 4px 4px 0px 0px;
}

footer {
  text-align: center;
  padding: 30px 20px;
  font-size: 0.9rem;
  color: #bdbdbd;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  section{
    padding: 25px 15px;
  }
}

@media (min-width: 768px) {
  .depoimentos__container {
    flex-direction: row;
  }
  .depoimento__card {
    flex: 1;
  }
}

